.home {
  background-color: #0e0d1e;
  width: 100%;
  color: white;
  font-size: 17px;
  cursor: default;
  user-select: none;
  font-family: "Humanist777W03-BlkCnd", cursive;
}

img {
  -webkit-user-drag: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: "white";
  padding: 3%;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
  padding: 25px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
}

li,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
}

button {
  color: white;
  background-color: #6851d6;
  border: none;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 0px 20px #6851d6;
  width: 110px;
  display: flex;
  flex-direction: row;
}

.navbar .button1 {
  align-content: center;
}

.aboutUs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
}

.aboutUs h1 {
  margin: 2px;
}

article1 {
  padding: 10px;
  background-image: url("../Icons/Home/group1.png");
  background-size: 500px;
  background-position: 30% 25%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

article1 h1 {
  margin: 0;
}

article2 {
  background-image: url("../Icons/Home/group2.png");
  background-size: 90%;
  background-position: 37% 40%;
  background-repeat: no-repeat;
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

article2 .title {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

article3 {
  background-image: url("../Icons/Home/group3.png");
  background-size: 90%;
  background-position: 390% 55%;
  background-repeat: no-repeat;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

footer {
  height: 475px;
  margin-top: 20%;
}

footer .image {
  background-color: rgba(17, 23, 113, 0.3);
  filter: blur(70px);
  position: absolute;
  width: 100%;
  height: 60%;
}

.topFooter {
  display: flex;
  justify-content: space-evenly;
}

.bottomFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 11%;
}

.social {
  padding-left: 10%;
}
