.main {
  background-color: #0e0d1e;
  width: 100%;
  height: 720px;
  color: white;
  font-size: 17px;
  cursor: default;
  user-select: none;
  font-family: "Humanist777W03-BlkCnd", cursive;
}

img {
  -webkit-user-drag: none;
}

.navBack {
  display: flex;
  padding: 1.5%;
  width: 100%;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  color: "white";
  padding: 1%;
  align-items: center;
  background-color: #1715308f;
}

.navbar1 ul {
  list-style-type: none;
  position: absolute;
}

.navbar1 li {
  display: inline;
  padding: 25px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
}

li,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
}

.navbar1 .leftNav {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.navbar1 .rightNav {
  align-items: center;
  display: flex;
  margin-left: 70%;
}

.edit {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.leftEdit {
  border: 0;
  border-radius: 20px;
  background-color: #2d233c47;
  display: flex;
  padding: 2%;
  width: 150%;
  height: 450px;
}

form group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftEdit input {
  border: 0;
  border-radius: 30px;
  background-color: #28255637;
  color: rgba(255, 255, 255, 0.299);
  padding: 5%;
}

.leftEdit label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 12px;
  padding-bottom: 3%;
  padding-left: 2%;
}

.rightEdit {
  border: 0;
  border-radius: 20px;
  background-color: #2d233c47;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  padding: 2%;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 350px;
}
